Problem Statement 1:
Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:
High School Bachelors Masters Ph.d. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the
gender of an individual and the level of education that they have obtained?

1.State Null and Alternative Hypothesis
Null Hypothesis : there is relationship between gender and education

Null Hypothesis : there is no relationship between gender and education

2. State significate value α = 0.05
3.DOF=(1,6)
3. State Decision Rule: 
    α = 0.05
    f table value =5.9874
    Rule: if f test > 3.8853, we will reject null Hypothesis

In [64]:
f=3.8853 # from f table
High_School=[60,40]
Bachelors=[54,44]
Masters=[46,53]
phd=[41,57]
N=8
n=4
a=2
T=sum(High_School)+sum(Bachelors)+sum(Masters)+sum(phd)
y=[i**2 for i in High_School+Bachelors+Masters+phd]
dof_between=a-1
dof_within=N-a
print(dof_between,dof_within)
ss_between=(sum([((sum(a)**2)) for a in [High_School,Bachelors,Masters,phd]])/n)-(T**2)/N
ss_within=sum(y)-sum([(sum(a)**2)/n for a in [High_School,Bachelors,Masters,phd]])
mean_sq_between=ss_between/dof_between
mean_sq_within=ss_within/dof_within
F=mean_sq_between/mean_sq_within
if F>f:
    print("will reject null hypotheis")
    print("No, there is no a relation between gender and education")
else:
    print('Will Accept Null Hypothesis')
    print("Yes there is a relation between gender and education")

1 6
Will Accept Null Hypothesis
Yes there is a relation between gender and education

Problem Statement 2:
Using the following data, perform a oneway analysis of variance using α=.05. Write
up the results in APA format.

[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

1.State Null and Alternative Hypothesis
Null Hypothesis : mean of Group1, Group2 and Group3 are same

Null Hypothesis : mean of Group1, Group2 and Group3 are not same
2. State significate value α = 0.05
3.DOF=(2,12)
3. State Decision Rule: 
    α = 0.05
    f table value = 3.8853
    Rule: if f test > 3.8853, we will reject null Hypothesis

In [53]:
f=3.8853 # from f table
Group1=[51, 45, 33, 45, 67]
Group2=[23, 43, 23, 43, 45]
Group3=[56, 76, 74, 87, 56]
N=15
n=5
a=3
T=sum(Group1)+sum(Group2)+sum(Group3)
y=[i**2 for i in Group1+Group2+Group3]
dof_between=a-1
dof_within=N-a
print(dof_between,dof_within)
ss_between=(sum([((sum(a)**2)) for a in [Group1,Group2,Group3]])/n)-(T**2)/N
ss_within=sum(y)-sum([(sum(a)**2)/n for a in [Group1,Group2,Group3]])
mean_sq_between=ss_between/dof_between
mean_sq_within=ss_within/dof_within
F=mean_sq_between/mean_sq_within
if F>f:
    print("will reject null hypotheis")
else:
    print('Will Accept Null Hypothesis')
    
'APA : F({a},{b})={c} ,p<0.05, effective size: {d}'.format(a=dof_between,b=dof_within,c=f,d=ss_between/(ss_between+ss_within))

2 12
will reject null hypotheis

'APA : F(2,12)=3.8853 ,p<0.05, effective size: 0.6189800152888492'

Problem Statement 3:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [56]:
import statistics as stat
data_1=[10, 20, 30, 40, 50]
data_2=[5,10,15, 20, 25]
f=stat.variance(data_1)/stat.variance(data_2)
f

4.0